<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="m_3334458267253510703invoice-block">
                <div class="m_3334458267253510703info">
                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody><tr>
                            <td align="left" width="100%">
                                <img src="https://ci6.googleusercontent.com/proxy/8kQEhWRsHo5iMIJHUEjnkETOjoRCFzqprKmwL1c1KVg2cbEuzqO890u6w2pWGXo1jGaDR1Pewrx9ou5y=s0-d-e1-ft#https://recruitery.co/assets/img/logo.png" alt="Recruitery" title="Recruitery" height="60" class="CToWUd">
                            </td>
                        </tr>
                    </tbody></table>
                </div>
                <h1 class="m_3334458267253510703title">Hello {{ fullName }}</h1>
                <p>
                    Cảm ơn bạn đã tạo tài khoản trên Reelancer!
                </p>
                <p>
                    Để tiếp tục, vui lòng xác nhận địa chỉ email của bạn bằng cách nhấp vào liên kết bên dưới.<br>
                    <a href="http://localhost:3000/api/jwt/user/confirm-account/{{ email }}">http://localhost:3000/api/jwt/user/confirm-account/{{ email }}</a>
                </p>
                <p>
                    Trước khi bắt đầu giới thiệu ứng viên, bạn vui lòng đọc kĩ Điều Khoản &amp; Quy tắc Giới Thiệu Ứng Viên trên Hệ Thống Recruitery <a href="https://recruitery.co/recruiter/terms" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://recruitery.co/recruiter/terms&amp;source=gmail&amp;ust=1623341691866000&amp;usg=AFQjCNGJAS17abjEioA-iv9WkYycNRuM6w">tại đây</a>
                </p>
                <p>Thank you for your cooperation.</p>
                <p>Team Reelancer</p>
                <div class="m_3334458267253510703support">
                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody><tr>
                            <td align="left" width="75%">
                                <h3><span>Customer support</span></h3>
                                <p><strong>Phone:</strong> 0988888888</p>
                                <p><strong>Email:</strong> <a href="mailto:hello@recruitery.co" target="_blank">hello@reelancer.com</a></p>
                            </td>
                            <td align="right" width="25%">
                                <h2><span>THANK YOU</span></h2>
                            </td>
                        </tr>
                    </tbody></table><div class="yj6qo"></div><div class="adL">
                </div></div><div class="adL">
            </div></div>
</body>
</html>